{% extends 'ag_base/backend.html.twig' %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': 'Communes_edit'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Edit Communes {{ id }}
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                {% include 'ag_alerts.html.twig' %}

                <div class="row">
                    <div class="col-md-6">

                        {{ form_start(form, {'method': 'POST'}) }}
                            {{ form_errors(form) }}

                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title"></h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">

									<div class='form-group'>
									    {{ form_label(form.DepartementId) }}
									    {{ form_widget(form.DepartementId, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CommuneACTUAL) }}
									    {{ form_widget(form.CommuneACTUAL, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CommuneCHEFLIEU) }}
									    {{ form_widget(form.CommuneCHEFLIEU, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CommuneCDC) }}
									    {{ form_widget(form.CommuneCDC, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CommuneRANG) }}
									    {{ form_widget(form.CommuneRANG, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CommuneREG) }}
									    {{ form_widget(form.CommuneREG, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CommuneDEP) }}
									    {{ form_widget(form.CommuneDEP, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CommuneCOM) }}
									    {{ form_widget(form.CommuneCOM, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CommuneAR) }}
									    {{ form_widget(form.CommuneAR, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CommuneCT) }}
									    {{ form_widget(form.CommuneCT, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CommuneMODIF) }}
									    {{ form_widget(form.CommuneMODIF, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CommunePOLE) }}
									    {{ form_widget(form.CommunePOLE, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CommuneTNCC) }}
									    {{ form_widget(form.CommuneTNCC, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CommuneARTMAJ) }}
									    {{ form_widget(form.CommuneARTMAJ, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CommuneNCC) }}
									    {{ form_widget(form.CommuneNCC, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CommuneARTMIN) }}
									    {{ form_widget(form.CommuneARTMIN, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CommuneNCCENR) }}
									    {{ form_widget(form.CommuneNCCENR, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CommuneARTICLCT) }}
									    {{ form_widget(form.CommuneARTICLCT, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CommuneNCCCT) }}
									    {{ form_widget(form.CommuneNCCCT, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CodePostal) }}
									    {{ form_widget(form.CodePostal, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CommuneCodeINSEE) }}
									    {{ form_widget(form.CommuneCodeINSEE, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.ISO2) }}
									    {{ form_widget(form.ISO2, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.SystemeGeodesique) }}
									    {{ form_widget(form.SystemeGeodesique, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.Projection) }}
									    {{ form_widget(form.Projection, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.Unite) }}
									    {{ form_widget(form.Unite, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.latitude) }}
									    {{ form_widget(form.latitude, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.longitude) }}
									    {{ form_widget(form.longitude, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.eloignement) }}
									    {{ form_widget(form.eloignement, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.altitude) }}
									    {{ form_widget(form.altitude, { attr: { 'class': 'form-control' }}) }}
									</div>

                                                 

                                </div><!-- /.box-body -->

                                {{ form_rest(form) }}

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </div>

                            </div><!-- /.box -->
                        {{ form_end(form) }}


                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
