{% extends 'ag_menu.html.twig' %}

{% block menu %}

<li class="treeview {% if option is defined and (option == 'Acquisitions_list' or option == 'Acquisitions_create' or option == 'Acquisitions_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>Acquisitions</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'Acquisitions_list' %}class="active"{% endif %}><a href="{{ path('Acquisitions_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'Acquisitions_create' %}class="active"{% endif %}><a href="{{ path('Acquisitions_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'Adresses_list' or option == 'Adresses_create' or option == 'Adresses_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>Adresses</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'Adresses_list' %}class="active"{% endif %}><a href="{{ path('Adresses_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'Adresses_create' %}class="active"{% endif %}><a href="{{ path('Adresses_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'BRGMExploitations_list' or option == 'BRGMExploitations_create' or option == 'BRGMExploitations_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>BRGMExploitations</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'BRGMExploitations_list' %}class="active"{% endif %}><a href="{{ path('BRGMExploitations_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'BRGMExploitations_create' %}class="active"{% endif %}><a href="{{ path('BRGMExploitations_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'BRGMGisementsGitesIndices_list' or option == 'BRGMGisementsGitesIndices_create' or option == 'BRGMGisementsGitesIndices_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>BRGMGisementsGitesIndices</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'BRGMGisementsGitesIndices_list' %}class="active"{% endif %}><a href="{{ path('BRGMGisementsGitesIndices_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'BRGMGisementsGitesIndices_create' %}class="active"{% endif %}><a href="{{ path('BRGMGisementsGitesIndices_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'Communes_list' or option == 'Communes_create' or option == 'Communes_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>Communes</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'Communes_list' %}class="active"{% endif %}><a href="{{ path('Communes_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'Communes_create' %}class="active"{% endif %}><a href="{{ path('Communes_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'Departements_list' or option == 'Departements_create' or option == 'Departements_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>Departements</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'Departements_list' %}class="active"{% endif %}><a href="{{ path('Departements_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'Departements_create' %}class="active"{% endif %}><a href="{{ path('Departements_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'Echanges_list' or option == 'Echanges_create' or option == 'Echanges_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>Echanges</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'Echanges_list' %}class="active"{% endif %}><a href="{{ path('Echanges_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'Echanges_create' %}class="active"{% endif %}><a href="{{ path('Echanges_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'Echantillons_list' or option == 'Echantillons_create' or option == 'Echantillons_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>Echantillons</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'Echantillons_list' %}class="active"{% endif %}><a href="{{ path('Echantillons_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'Echantillons_create' %}class="active"{% endif %}><a href="{{ path('Echantillons_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'Etats_list' or option == 'Etats_create' or option == 'Etats_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>Etats</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'Etats_list' %}class="active"{% endif %}><a href="{{ path('Etats_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'Etats_create' %}class="active"{% endif %}><a href="{{ path('Etats_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'Manifestations_list' or option == 'Manifestations_create' or option == 'Manifestations_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>Manifestations</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'Manifestations_list' %}class="active"{% endif %}><a href="{{ path('Manifestations_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'Manifestations_create' %}class="active"{% endif %}><a href="{{ path('Manifestations_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'Mineraux_list' or option == 'Mineraux_create' or option == 'Mineraux_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>Mineraux</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'Mineraux_list' %}class="active"{% endif %}><a href="{{ path('Mineraux_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'Mineraux_create' %}class="active"{% endif %}><a href="{{ path('Mineraux_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'Pays_list' or option == 'Pays_create' or option == 'Pays_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>Pays</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'Pays_list' %}class="active"{% endif %}><a href="{{ path('Pays_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'Pays_create' %}class="active"{% endif %}><a href="{{ path('Pays_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'Personnes_list' or option == 'Personnes_create' or option == 'Personnes_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>Personnes</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'Personnes_list' %}class="active"{% endif %}><a href="{{ path('Personnes_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'Personnes_create' %}class="active"{% endif %}><a href="{{ path('Personnes_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'Regions_list' or option == 'Regions_create' or option == 'Regions_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>Regions</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'Regions_list' %}class="active"{% endif %}><a href="{{ path('Regions_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'Regions_create' %}class="active"{% endif %}><a href="{{ path('Regions_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'Sites_list' or option == 'Sites_create' or option == 'Sites_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>Sites</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'Sites_list' %}class="active"{% endif %}><a href="{{ path('Sites_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'Sites_create' %}class="active"{% endif %}><a href="{{ path('Sites_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'SitesGeoLocalisation_list' or option == 'SitesGeoLocalisation_create' or option == 'SitesGeoLocalisation_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>SitesGeoLocalisation</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'SitesGeoLocalisation_list' %}class="active"{% endif %}><a href="{{ path('SitesGeoLocalisation_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'SitesGeoLocalisation_create' %}class="active"{% endif %}><a href="{{ path('SitesGeoLocalisation_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'SortiesCollection_list' or option == 'SortiesCollection_create' or option == 'SortiesCollection_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>SortiesCollection</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'SortiesCollection_list' %}class="active"{% endif %}><a href="{{ path('SortiesCollection_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'SortiesCollection_create' %}class="active"{% endif %}><a href="{{ path('SortiesCollection_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'SortiesSurTerrain_list' or option == 'SortiesSurTerrain_create' or option == 'SortiesSurTerrain_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>SortiesSurTerrain</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'SortiesSurTerrain_list' %}class="active"{% endif %}><a href="{{ path('SortiesSurTerrain_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'SortiesSurTerrain_create' %}class="active"{% endif %}><a href="{{ path('SortiesSurTerrain_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>



{% endblock %}